/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* ---------------------------------------------------------- */

body {
	font-family: 'Titillium Web', helvetica, sans-serif;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}

/*________Header________*/

#container {
	width: 100%;
<<<<<<< HEAD
<<<<<<< HEAD
	min-height: 100%;
	position: relative;
<<<<<<< HEAD
	border: 1px solid red;
    padding-top: 3%;
=======
>>>>>>> Updated page layout, adjusted flexslider
=======
    min-height: 100%;
	position: relative;
>>>>>>> Replaced flexslider with elastislide, updated css, added sample images
=======
    min-height: 100%;
	position: relative;
>>>>>>> Updates to php
}

#header {
	width: 100% auto;
	height: 20%;
	position: relative;
	padding: 1%;
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
}

#header a {
    text-decoration: none;
}

#header h1 {
	font-size: 3em;
}

#header h2 {
	font-size: 2em;
}

#header h3 {
	font-size: 1.5em;
}

<<<<<<< HEAD
<<<<<<< HEAD
#header .search {
	position: absolute;
		top: 75%;
		right: 1%;
=======
#search {
>>>>>>> Replaced flexslider with elastislide, updated css, added sample images
=======
#search {
>>>>>>> Updates to php
	font-size: 1.3em;
    position: absolute;
        bottom: 5px;
        right: 5px;
}

#logo {
    max-height: 100%;
    position: absolute;
        top: 0;
        right: 0;
    opacity: 0.3;
}

/*________Navigation________*/

nav {
<<<<<<< HEAD
<<<<<<< HEAD
    width: 100%;
    z-index: 10;
    position: absolute;
        top: 15%;
    overflow: hidden;
    margin: 0px;
}

.category {
	background-color: #555;
	width: 20%;
    padding: 10px 0px;
    margin: auto;
    float: left;
    display: inline-block;
=======
    float: left;
}

.category {
    border-bottom: 1px dotted grey;
    width: 100px;
    margin: 20px;
    text-align: center;
    padding-bottom: 10px;
>>>>>>> Replaced flexslider with elastislide, updated css, added sample images
}

=======
    float: left;
}

.category {
    border-bottom: 1px dotted grey;
    width: 100px;
    margin: 20px;
    text-align: center;
    padding-bottom: 10px;
}

>>>>>>> Updates to php
.sub-menu {
    padding-top: 5px;
    text-align: right;
}

.sub-menu li {
    padding: 3px 0px;
}

.category a, .category a:visited {
    text-decoration: none;
    color: black;
}

.category a:hover {
    color: red;
}

/*________Content________*/

#content {
    height: 80%;
    min-height: 350px;
    display: inline-block;
    width: 75%;
    margin: auto;
    padding: 0 2% 2% 2%;
}

#viewport {
    display: block;
    width: 500px;
    margin: auto;
    border: 3px solid #BBB;
}

#desc h3, #desc h4, #desc p, #desc a {
    padding: 5px 3px;
}


/*________sidebar________*/

#sidebar {
    text-align: center;
    float: right;
    margin-right: 1%;
    border: 1px solid grey;
<<<<<<< HEAD
}

<<<<<<< HEAD
.category {
    text-decoration: none;
}

.category h2 {
	width: 100%;
	margin: auto;
}

.category a, .category a:visited {
    color: white;
}

.category a:hover {
    color: red;
}

/*________Content________*/

#content {
    padding-top: 3%;
    height: 80%;
}


/*________Footer________*/

#footer {
    width: 100%;
    height: 15%;
    text-align: center;
    background-color: #555;
}

#footer ul {
    list-style: none;
    width: 400px;
    margin: auto;
}

#footer ul li {
    float: left;
=======
=======
}

>>>>>>> Updates to php
#sidebar ul li:first-child {
    border-bottom: 1px solid grey;
}

#sidebar ul {
    list-style: none;
}

#sidebar ul li {
<<<<<<< HEAD
>>>>>>> Replaced flexslider with elastislide, updated css, added sample images
=======
>>>>>>> Updates to php
    padding: 5px;
    margin: 20px;
}

<<<<<<< HEAD
<<<<<<< HEAD
#copyright {
    width: 500px;
    margin: 20px auto;
}

/*________Grid________*/

#grid table td {
    width: 100px;
    height: 100px;
    background-color: blue;
=======
=======
>>>>>>> Updates to php
#sidebar ul a {
    text-decoration: none;
}

#copyright {
    margin: 20px auto;
}

/*________Footer________*/

#footer {
    width: 500px;
    margin: auto;
<<<<<<< HEAD
>>>>>>> Replaced flexslider with elastislide, updated css, added sample images
=======
>>>>>>> Updates to php
}